# Python Bytecode Caches
__pycache__/
*.pyc

# Local execution logs
*.log

# Pytest caching
.pytest_cache/
.pytest/

# Local test reports and screenshots
reports/
screenshots/
*.png

# Virtual environments
venv/
.venv/
env/
.env
